<html>
<head>

<title>Draw the border!</title>

<link rel=stylesheet href="lib/css/bootstrap.css" type="text/css">
<link rel=stylesheet href="lib/css/bootstrap-responsive.css" type="text/css">
<link rel=stylesheet href="lib/css/style.css" type="text/css">
<script src="lib/js/jquery.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="lib/js/underscore.js"></script>
<script src="lib/js/backbone.js"></script>
<script src="lib/js/bootstrap.js"></script>

<script>


var CityModel = Backbone.Model.extend({
    parse: function(data){

        // parse the model to have better names
        data['geography'] = data['Geography'];
        data['id'] =  data['ID'];
        data['usa'] = parseInt(data['USA']);
        data['title'] = data['Title'];
        data['gdp'] = parseInt(data['gdp'].replace('$', '').replace(',',''));
        data['graduates_percent'] = data['grads'];
        data['high_school'] = parseInt(data['high school']);
        data['latitude'] = parseFloat(data['lat']);
        data['longitude'] = parseFloat(data['lon']);
        data['population'] = parseInt(data['population'].replace(',',''));
        data['unemployment_percent'] = data['unemployment'];

        // delete the old properties
        delete data['Geography'];
        delete data['ID'];
        delete data['Title'];
        delete data['USA'];
        delete data['grads'];
        delete data['high school'];
        delete data['lat'];
        delete data['lon'];
        delete data['unemployment'];

        return data;
    },
    in_usa: function(){
        return this.get('usa');
    },
    plot: function(){
        return new google.maps.LatLng(this.get('latitude'), this.get('longitude'));
    },

    
});

var CitiesCollection = Backbone.Collection.extend({
    model: CityModel,
    url: 'data/counties.json',
    parse: function(data){
        that = this;
        _.each(data, function(city, i){
            var city = new CityModel(city, {parse: true});
            data[i] = city;
        });
        return data;
    }
});

var CityContentView = Backbone.View.extend({
    template: _.template('\
        <h3><%= cityData.title %></h3>\
        <h5><%= cityData.geography %></h5>\
        <div style="font-size:12px">\
            <span>\
                Population:\
            </span>\
            <%= cityData.population %> \
            </br>\
            <span>\
                High school graduates:\
            </span>\
            <%= cityData.graduates_percent %>\
            </br>\
            <span>\
                Unemployment rate:\
            </span> \
                <%= cityData.unemployment_percent %>\
            </br>\
            <span>\
                GDP per capita:\
            </span>\
            <%= cityData.gdp %>\
            </br>\
        </div>'),
    render: function(){
        $(this.el).html( this.template({ cityData: this.model.toJSON()}) );
        return this;
    }
});

var map;
var poly;
var frontera;
var tableId = '1aJ_-XLrNBF8x1xvmCDBSzStfNh6cKNFEGmgqXiI';
var data

var cities = new CitiesCollection();
cities.fetch({success: function(){ data = initialize(); }});


function initialize() {

    var naco = cities.get('naco').plot();
    var juarez = cities.get('juarez').plot();
    var tijuana = cities.get('tijuana').plot();
    var reynosa = cities.get('reynosa').plot();
    var laredo = cities.get('nuevolaredo').plot();

    frontera = new google.maps.FusionTablesLayer({
        query: {
            select: 'geometry',
            from: tableId,
        },
        styles : [{
        polylineOptions: {
            strokeColor: "#00FF00",
            strokeWeight: "5"  },
        polygonOptions: {
            fillColor: '#00FF00',
            fillOpacity: 0.3
          }
        }],
        options: {
            clickable: false
        }
    });

    var polyOptions = {
        strokeColor: '#000',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        editable: false //users?
      }

    poly = new google.maps.Polyline(polyOptions);

    $(document).ready(function(){

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            center: juarez,
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.SATELLITE,
            draggable: false,
            disableDoubleClickZoom: true,
            mapTypeControl: false,
            navigationControl: true,
            panControl: false,
            scrollwheel: false,
            streetViewControl: false,
            scaleControl: false,
            zoomControl: false,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL
            },
        });
        poly.setMap(map);
        google.maps.event.addListener(map, 'click', addLatLng);

    });

    var lineBoxes = document.createElement('div');
    lineBoxes.id = 'line-boxes';
    lineBoxes.innerHTML='<input type="checkbox" class="box" id="line-edit-check" onclick="editLine()"/><label for="line-edit-check"> Edit line</label></br><button id="done-button" onclick="doneDrawing()"/><label for="done-button">Done!</label></button>';
    lineBoxes.index = 1; 
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(lineBoxes);

    return cities.toJSON();
}

 /**
 * Handles click events on a map, and adds a new point to the Polyline.
 * @param {google.maps.MouseEvent} event
 */
function addLatLng(event) {

  var path = poly.getPath();

  // Because path is an MVCArray, we can simply append a new coordinate
  // and it will automatically appear
  path.push(event.latLng);
  console.log(event.latLng)

  // Add a new marker at the new plotted point on the polyline.
  /*var marker = new google.maps.Marker({
    position: event.latLng,
    title: '#' + path.getLength(),
    animation: google.maps.Animation.DROP,
    map: map
  });*/
}

function removePos() {
    var path = poly.getPath();

    //take last point off path
    path.b.pop();

    //clear then reset path
    poly.setMap();
    poly.setMap(map);
}

function editLine() {
    var box = $('#line-edit-check')[0];
    if (box.checked == true) {
        poly.setEditable(true);
    }
    else {
        poly.setEditable(false);
    }
}

function doneDrawing() {
    $('#line-edit-check')[0].checked = false;
    poly.setEditable(false);

    poly.strokeOpacity=0.5;
    poly.setMap();
    poly.setMap(map);

    frontera.setMap(map);
    setTimeout("showInfo()", 1500);
}

function showInfo() {
    var juarez = cities.get('juarez')
    var juarezLoc = new google.maps.LatLng(31.58847937271219, -106.60514831542969); // are these the citie's coordinate? if so we can use the paso.plot() method
    var juarezWindow = new google.maps.InfoWindow();
    var juarezContent = new CityContentView({model: juarez});
    juarezWindow.setContent(juarezContent.render().el);
    juarezWindow.setPosition(juarezLoc);
    juarezWindow.open(map);
    
    var paso = cities.get('elpaso');
    var pasoLoc = new google.maps.LatLng(31.693119,-106.316285); // are these the citie's coordinate? if so we can use the paso.plot() method
    var pasoWindow = new google.maps.InfoWindow();
    var pasoContent = new CityContentView({model: paso});
    pasoWindow.setContent(pasoContent.render().el);
    pasoWindow.setPosition(pasoLoc);
    pasoWindow.open(map);

    map.setOptions({draggable:true, scrollwheel:true})
}

function getData(pos) {
    for (var i=0; i<data.length; i++) {
        if (data[i].ID === pos) {
            var regData = data[i];
        }
    }
    return regData;
}

</script>

</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="#">Naco</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Source</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1> Draw the border!</h1>
        
        <div class="side-link">
            <img src='img/naco.jpg' href="naco.html">
            <a href="naco.html">Play "Naco or Naco?"</a>
        </div>


        <p class="lead">The <a href="http://online.wsj.com/article/SB10001424127887324695104578416842115318174.html?mod=slideshow_overlay_mod">2,000-mile border</a> between the United States and Mexico divides border city pictured below. Can you draw the line that splits this city?</p>

        <p>Sources: <a href="http://factfinder2.census.gov/faces/nav/jsf/pages/index.xhtml">American Community Survey</a>, <a href="http://www.snim.rami.gob.mx/">Sistema Nacional de Informacion Municipal</a> county data</p>

        <small>This is a <a href="http://www.chicagomigrahack.com/">Migrahack</a> prototype! Tweet feedback to <a href="https://twitter.com/DanHillReports">@DanHillReports</a></small>

        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
             Start clicking on the map to create the points to construct your border line and click "Done!" to see the real border in green and learn about the cities on each side. 
        </div>

            <div id="map-canvas"></div>

<!--
        <h1> Naco or Naco?</h1>

        <div class="side-link">
            <img src='img/draw.jpg' href="index.html">
            <a href="index.html">Play "Draw the Border!"</a>
        </div>

        <p class="lead">The unincorporated town of Naco, Arizona shares the border with... Naco, Sonora.The map below has been shifted, can you use the demographic data to figure out which Naco belongs in Mexico?</p>

        <p>Sources: <a href="http://factfinder2.census.gov/faces/nav/jsf/pages/index.xhtml">American Community Survey</a>, <a href="http://www.snim.rami.gob.mx/">Sistema Nacional de Informacion Municipal</a></p>
        
        <small>Have fun? Think it sucks? Tweet <a href="https://twitter.com/DanHillReports">@DanHillReports</a></small>


    </div>
-->
</body>
</html>

