#map-canvas {
    height: 75%;width: 100%; 
    /*border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;*/
}
#map-container {height:400px; width:400px;
/*border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;*/
    border: 2px solid black;
    -webkit-border-radius: 25px; 
    -moz-border-radius: 25px;
    border-radius: 100%;
    overflow:hidden;
    zoom: 1;
     }
#container2 {height: 400px; width: 400px; overflow: hidden; border: 1px solid black;}

#header {
    height: 25%;
    font-family: sans-serif;
}

#line-boxes {
    background: #FFF ;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif; }

#next-box {
    background: #FFF ;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif; }
h3 {
    margin: 0px;
    font-family: sans-serif;
}
h5 {
    margin-top: 0px;
    font-family: sans-serif;
}
.bad {
    color: #ED6E6C;
}
.good {
    color: #97AD62;
}
span {
    font-family: sans-serif;
}